<!DOCTYPE html>

<%- include('../particals/head') %>

<body class="container">
    <%- include('../particals/header', {pagina: "Sobre"}) %>

    <main>
        <div class="jumbotron">
            <h1>Sobre mim</h1>
            <p>Sobre mim paragrafo</p>
        </div>
    </main>

    <%- include('../particals/footer') %>
</body>

<html></html>